# PHY0, U3

LOCATE COMP "rgmii_tx_clk" SITE  "M2";
LOCATE COMP "rgmii_txd[0]" SITE  "L1";
LOCATE COMP "rgmii_txd[1]" SITE  "L3";
LOCATE COMP "rgmii_txd[2]" SITE  "P2";
LOCATE COMP "rgmii_txd[3]" SITE  "L4";
LOCATE COMP "rgmii_tx_ctl" SITE  "M3";
LOCATE COMP "rgmii_rx_clk" SITE  "M1";
LOCATE COMP "rgmii_rxd[0]" SITE  "N1";
LOCATE COMP "rgmii_rxd[1]" SITE  "M5";
LOCATE COMP "rgmii_rxd[2]" SITE  "N5";
LOCATE COMP "rgmii_rxd[3]" SITE  "M6";
LOCATE COMP "rgmii_rx_ctl" SITE  "N6";
LOCATE COMP "mdio_scl"     SITE  "P3";             #"P3";
LOCATE COMP "mdio_sda"     SITE  "T2";             #"T2";
LOCATE COMP "phy_resetn"   SITE  "P5";             #"P5";

IOBUF PORT "rgmii_tx_clk"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_txd[0]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_txd[1]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_txd[2]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_txd[3]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_tx_ctl"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rx_clk"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rxd[0]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rxd[1]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rxd[2]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rxd[3]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rx_ctl"  IO_TYPE=LVCMOS33;
IOBUF PORT "mdio_scl"      IO_TYPE=LVCMOS33;
IOBUF PORT "mdio_sda"      OPENDRAIN=ON IO_TYPE=LVCMOS33;
IOBUF PORT "phy_resetn"    IO_TYPE=LVCMOS33;


# CLOCK

LOCATE COMP "osc25m" SITE "P6";
IOBUF PORT "osc25m" IO_TYPE=LVCMOS33;

# USER IO

LOCATE COMP "led" SITE "P11";
IOBUF PORT "led" OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "button" SITE "M13";
IOBUF PORT "button" IO_TYPE=LVCMOS33;

# PANEL

LOCATE COMP "R0[2]"  SITE "M11"; # J5
LOCATE COMP "G0[2]"  SITE "N11";
LOCATE COMP "B0[2]"  SITE "P12";
LOCATE COMP "R1[2]"  SITE "K15";
LOCATE COMP "G1[2]"  SITE "N12";
LOCATE COMP "B1[2]"  SITE "L16";

LOCATE COMP "A"      SITE "L2";
LOCATE COMP "B"      SITE "K1";
LOCATE COMP "C"      SITE "J5";
LOCATE COMP "D"      SITE "K2";
LOCATE COMP "E"      SITE "F15";
LOCATE COMP "CLK"    SITE "B16";
LOCATE COMP "LAT"    SITE "J14";
LOCATE COMP "OE"     SITE "F12";

LOCATE COMP "R0[3]"  SITE "K16"; # J6
LOCATE COMP "G0[3]"  SITE "J15";
LOCATE COMP "B0[3]"  SITE "J16";
LOCATE COMP "R1[3]"  SITE "J12";
LOCATE COMP "G1[3]"  SITE "H15";
LOCATE COMP "B1[3]"  SITE "G16";

LOCATE COMP "R0[4]"  SITE "H13"; # J7
LOCATE COMP "G0[4]"  SITE "J13";
LOCATE COMP "B0[4]"  SITE "H12";
LOCATE COMP "R1[4]"  SITE "G14";
LOCATE COMP "G1[4]"  SITE "H14";
LOCATE COMP "B1[4]"  SITE "G15";

LOCATE COMP "R0[5]"  SITE "A15"; # J8
LOCATE COMP "G0[5]"  SITE "F16";
LOCATE COMP "B0[5]"  SITE "A14";
LOCATE COMP "R1[5]"  SITE "E13";
LOCATE COMP "G1[5]"  SITE "B14";
LOCATE COMP "B1[5]"  SITE "A13";

LOCATE COMP "R0[0]"  SITE "H4"; # J3
LOCATE COMP "G0[0]"  SITE "K5";
LOCATE COMP "B0[0]"  SITE "P1";
LOCATE COMP "R1[0]"  SITE "R1";
LOCATE COMP "G1[0]"  SITE "L5";
LOCATE COMP "B1[0]"  SITE "F2";

LOCATE COMP "R0[1]"  SITE "J4"; # J2
LOCATE COMP "G0[1]"  SITE "K3";
LOCATE COMP "B0[1]"  SITE "G1";
LOCATE COMP "R1[1]"  SITE "K4";
LOCATE COMP "G1[1]"  SITE "C2";
LOCATE COMP "B1[1]"  SITE "E3";
