BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "sys_clock" SITE "X";
LOCATE COMP "sys_reset" SITE "X";
LOCATE COMP "rgmii_eth_clocks_tx" SITE "X";
LOCATE COMP "rgmii_eth_clocks_rx" SITE "X";
LOCATE COMP "rgmii_eth_rst_n" SITE "X";
LOCATE COMP "rgmii_eth_int_n" SITE "X";
LOCATE COMP "rgmii_eth_mdio" SITE "X";
LOCATE COMP "rgmii_eth_mdc" SITE "X";
LOCATE COMP "rgmii_eth_rx_ctl" SITE "X";
LOCATE COMP "rgmii_eth_rx_data[0]" SITE "X";
LOCATE COMP "rgmii_eth_rx_data[1]" SITE "X";
LOCATE COMP "rgmii_eth_rx_data[2]" SITE "X";
LOCATE COMP "rgmii_eth_rx_data[3]" SITE "X";
LOCATE COMP "rgmii_eth_tx_ctl" SITE "X";
LOCATE COMP "rgmii_eth_tx_data[0]" SITE "X";
LOCATE COMP "rgmii_eth_tx_data[1]" SITE "X";
LOCATE COMP "rgmii_eth_tx_data[2]" SITE "X";
LOCATE COMP "rgmii_eth_tx_data[3]" SITE "X";
LOCATE COMP "udp_sink_valid" SITE "X";
LOCATE COMP "udp_sink_last" SITE "X";
LOCATE COMP "udp_sink_ready" SITE "X";
LOCATE COMP "udp_sink_src_port[0]" SITE "X";
LOCATE COMP "udp_sink_src_port[1]" SITE "X";
LOCATE COMP "udp_sink_src_port[2]" SITE "X";
LOCATE COMP "udp_sink_src_port[3]" SITE "X";
LOCATE COMP "udp_sink_src_port[4]" SITE "X";
LOCATE COMP "udp_sink_src_port[5]" SITE "X";
LOCATE COMP "udp_sink_src_port[6]" SITE "X";
LOCATE COMP "udp_sink_src_port[7]" SITE "X";
LOCATE COMP "udp_sink_src_port[8]" SITE "X";
LOCATE COMP "udp_sink_src_port[9]" SITE "X";
LOCATE COMP "udp_sink_src_port[10]" SITE "X";
LOCATE COMP "udp_sink_src_port[11]" SITE "X";
LOCATE COMP "udp_sink_src_port[12]" SITE "X";
LOCATE COMP "udp_sink_src_port[13]" SITE "X";
LOCATE COMP "udp_sink_src_port[14]" SITE "X";
LOCATE COMP "udp_sink_src_port[15]" SITE "X";
LOCATE COMP "udp_sink_dst_port[0]" SITE "X";
LOCATE COMP "udp_sink_dst_port[1]" SITE "X";
LOCATE COMP "udp_sink_dst_port[2]" SITE "X";
LOCATE COMP "udp_sink_dst_port[3]" SITE "X";
LOCATE COMP "udp_sink_dst_port[4]" SITE "X";
LOCATE COMP "udp_sink_dst_port[5]" SITE "X";
LOCATE COMP "udp_sink_dst_port[6]" SITE "X";
LOCATE COMP "udp_sink_dst_port[7]" SITE "X";
LOCATE COMP "udp_sink_dst_port[8]" SITE "X";
LOCATE COMP "udp_sink_dst_port[9]" SITE "X";
LOCATE COMP "udp_sink_dst_port[10]" SITE "X";
LOCATE COMP "udp_sink_dst_port[11]" SITE "X";
LOCATE COMP "udp_sink_dst_port[12]" SITE "X";
LOCATE COMP "udp_sink_dst_port[13]" SITE "X";
LOCATE COMP "udp_sink_dst_port[14]" SITE "X";
LOCATE COMP "udp_sink_dst_port[15]" SITE "X";
LOCATE COMP "udp_sink_ip_address[0]" SITE "X";
LOCATE COMP "udp_sink_ip_address[1]" SITE "X";
LOCATE COMP "udp_sink_ip_address[2]" SITE "X";
LOCATE COMP "udp_sink_ip_address[3]" SITE "X";
LOCATE COMP "udp_sink_ip_address[4]" SITE "X";
LOCATE COMP "udp_sink_ip_address[5]" SITE "X";
LOCATE COMP "udp_sink_ip_address[6]" SITE "X";
LOCATE COMP "udp_sink_ip_address[7]" SITE "X";
LOCATE COMP "udp_sink_ip_address[8]" SITE "X";
LOCATE COMP "udp_sink_ip_address[9]" SITE "X";
LOCATE COMP "udp_sink_ip_address[10]" SITE "X";
LOCATE COMP "udp_sink_ip_address[11]" SITE "X";
LOCATE COMP "udp_sink_ip_address[12]" SITE "X";
LOCATE COMP "udp_sink_ip_address[13]" SITE "X";
LOCATE COMP "udp_sink_ip_address[14]" SITE "X";
LOCATE COMP "udp_sink_ip_address[15]" SITE "X";
LOCATE COMP "udp_sink_ip_address[16]" SITE "X";
LOCATE COMP "udp_sink_ip_address[17]" SITE "X";
LOCATE COMP "udp_sink_ip_address[18]" SITE "X";
LOCATE COMP "udp_sink_ip_address[19]" SITE "X";
LOCATE COMP "udp_sink_ip_address[20]" SITE "X";
LOCATE COMP "udp_sink_ip_address[21]" SITE "X";
LOCATE COMP "udp_sink_ip_address[22]" SITE "X";
LOCATE COMP "udp_sink_ip_address[23]" SITE "X";
LOCATE COMP "udp_sink_ip_address[24]" SITE "X";
LOCATE COMP "udp_sink_ip_address[25]" SITE "X";
LOCATE COMP "udp_sink_ip_address[26]" SITE "X";
LOCATE COMP "udp_sink_ip_address[27]" SITE "X";
LOCATE COMP "udp_sink_ip_address[28]" SITE "X";
LOCATE COMP "udp_sink_ip_address[29]" SITE "X";
LOCATE COMP "udp_sink_ip_address[30]" SITE "X";
LOCATE COMP "udp_sink_ip_address[31]" SITE "X";
LOCATE COMP "udp_sink_length[0]" SITE "X";
LOCATE COMP "udp_sink_length[1]" SITE "X";
LOCATE COMP "udp_sink_length[2]" SITE "X";
LOCATE COMP "udp_sink_length[3]" SITE "X";
LOCATE COMP "udp_sink_length[4]" SITE "X";
LOCATE COMP "udp_sink_length[5]" SITE "X";
LOCATE COMP "udp_sink_length[6]" SITE "X";
LOCATE COMP "udp_sink_length[7]" SITE "X";
LOCATE COMP "udp_sink_length[8]" SITE "X";
LOCATE COMP "udp_sink_length[9]" SITE "X";
LOCATE COMP "udp_sink_length[10]" SITE "X";
LOCATE COMP "udp_sink_length[11]" SITE "X";
LOCATE COMP "udp_sink_length[12]" SITE "X";
LOCATE COMP "udp_sink_length[13]" SITE "X";
LOCATE COMP "udp_sink_length[14]" SITE "X";
LOCATE COMP "udp_sink_length[15]" SITE "X";
LOCATE COMP "udp_sink_data[0]" SITE "X";
LOCATE COMP "udp_sink_data[1]" SITE "X";
LOCATE COMP "udp_sink_data[2]" SITE "X";
LOCATE COMP "udp_sink_data[3]" SITE "X";
LOCATE COMP "udp_sink_data[4]" SITE "X";
LOCATE COMP "udp_sink_data[5]" SITE "X";
LOCATE COMP "udp_sink_data[6]" SITE "X";
LOCATE COMP "udp_sink_data[7]" SITE "X";
LOCATE COMP "udp_sink_data[8]" SITE "X";
LOCATE COMP "udp_sink_data[9]" SITE "X";
LOCATE COMP "udp_sink_data[10]" SITE "X";
LOCATE COMP "udp_sink_data[11]" SITE "X";
LOCATE COMP "udp_sink_data[12]" SITE "X";
LOCATE COMP "udp_sink_data[13]" SITE "X";
LOCATE COMP "udp_sink_data[14]" SITE "X";
LOCATE COMP "udp_sink_data[15]" SITE "X";
LOCATE COMP "udp_sink_data[16]" SITE "X";
LOCATE COMP "udp_sink_data[17]" SITE "X";
LOCATE COMP "udp_sink_data[18]" SITE "X";
LOCATE COMP "udp_sink_data[19]" SITE "X";
LOCATE COMP "udp_sink_data[20]" SITE "X";
LOCATE COMP "udp_sink_data[21]" SITE "X";
LOCATE COMP "udp_sink_data[22]" SITE "X";
LOCATE COMP "udp_sink_data[23]" SITE "X";
LOCATE COMP "udp_sink_data[24]" SITE "X";
LOCATE COMP "udp_sink_data[25]" SITE "X";
LOCATE COMP "udp_sink_data[26]" SITE "X";
LOCATE COMP "udp_sink_data[27]" SITE "X";
LOCATE COMP "udp_sink_data[28]" SITE "X";
LOCATE COMP "udp_sink_data[29]" SITE "X";
LOCATE COMP "udp_sink_data[30]" SITE "X";
LOCATE COMP "udp_sink_data[31]" SITE "X";
LOCATE COMP "udp_sink_error[0]" SITE "X";
LOCATE COMP "udp_sink_error[1]" SITE "X";
LOCATE COMP "udp_sink_error[2]" SITE "X";
LOCATE COMP "udp_sink_error[3]" SITE "X";
LOCATE COMP "udp_source_valid" SITE "X";
LOCATE COMP "udp_source_last" SITE "X";
LOCATE COMP "udp_source_ready" SITE "X";
LOCATE COMP "udp_source_src_port[0]" SITE "X";
LOCATE COMP "udp_source_src_port[1]" SITE "X";
LOCATE COMP "udp_source_src_port[2]" SITE "X";
LOCATE COMP "udp_source_src_port[3]" SITE "X";
LOCATE COMP "udp_source_src_port[4]" SITE "X";
LOCATE COMP "udp_source_src_port[5]" SITE "X";
LOCATE COMP "udp_source_src_port[6]" SITE "X";
LOCATE COMP "udp_source_src_port[7]" SITE "X";
LOCATE COMP "udp_source_src_port[8]" SITE "X";
LOCATE COMP "udp_source_src_port[9]" SITE "X";
LOCATE COMP "udp_source_src_port[10]" SITE "X";
LOCATE COMP "udp_source_src_port[11]" SITE "X";
LOCATE COMP "udp_source_src_port[12]" SITE "X";
LOCATE COMP "udp_source_src_port[13]" SITE "X";
LOCATE COMP "udp_source_src_port[14]" SITE "X";
LOCATE COMP "udp_source_src_port[15]" SITE "X";
LOCATE COMP "udp_source_dst_port[0]" SITE "X";
LOCATE COMP "udp_source_dst_port[1]" SITE "X";
LOCATE COMP "udp_source_dst_port[2]" SITE "X";
LOCATE COMP "udp_source_dst_port[3]" SITE "X";
LOCATE COMP "udp_source_dst_port[4]" SITE "X";
LOCATE COMP "udp_source_dst_port[5]" SITE "X";
LOCATE COMP "udp_source_dst_port[6]" SITE "X";
LOCATE COMP "udp_source_dst_port[7]" SITE "X";
LOCATE COMP "udp_source_dst_port[8]" SITE "X";
LOCATE COMP "udp_source_dst_port[9]" SITE "X";
LOCATE COMP "udp_source_dst_port[10]" SITE "X";
LOCATE COMP "udp_source_dst_port[11]" SITE "X";
LOCATE COMP "udp_source_dst_port[12]" SITE "X";
LOCATE COMP "udp_source_dst_port[13]" SITE "X";
LOCATE COMP "udp_source_dst_port[14]" SITE "X";
LOCATE COMP "udp_source_dst_port[15]" SITE "X";
LOCATE COMP "udp_source_ip_address[0]" SITE "X";
LOCATE COMP "udp_source_ip_address[1]" SITE "X";
LOCATE COMP "udp_source_ip_address[2]" SITE "X";
LOCATE COMP "udp_source_ip_address[3]" SITE "X";
LOCATE COMP "udp_source_ip_address[4]" SITE "X";
LOCATE COMP "udp_source_ip_address[5]" SITE "X";
LOCATE COMP "udp_source_ip_address[6]" SITE "X";
LOCATE COMP "udp_source_ip_address[7]" SITE "X";
LOCATE COMP "udp_source_ip_address[8]" SITE "X";
LOCATE COMP "udp_source_ip_address[9]" SITE "X";
LOCATE COMP "udp_source_ip_address[10]" SITE "X";
LOCATE COMP "udp_source_ip_address[11]" SITE "X";
LOCATE COMP "udp_source_ip_address[12]" SITE "X";
LOCATE COMP "udp_source_ip_address[13]" SITE "X";
LOCATE COMP "udp_source_ip_address[14]" SITE "X";
LOCATE COMP "udp_source_ip_address[15]" SITE "X";
LOCATE COMP "udp_source_ip_address[16]" SITE "X";
LOCATE COMP "udp_source_ip_address[17]" SITE "X";
LOCATE COMP "udp_source_ip_address[18]" SITE "X";
LOCATE COMP "udp_source_ip_address[19]" SITE "X";
LOCATE COMP "udp_source_ip_address[20]" SITE "X";
LOCATE COMP "udp_source_ip_address[21]" SITE "X";
LOCATE COMP "udp_source_ip_address[22]" SITE "X";
LOCATE COMP "udp_source_ip_address[23]" SITE "X";
LOCATE COMP "udp_source_ip_address[24]" SITE "X";
LOCATE COMP "udp_source_ip_address[25]" SITE "X";
LOCATE COMP "udp_source_ip_address[26]" SITE "X";
LOCATE COMP "udp_source_ip_address[27]" SITE "X";
LOCATE COMP "udp_source_ip_address[28]" SITE "X";
LOCATE COMP "udp_source_ip_address[29]" SITE "X";
LOCATE COMP "udp_source_ip_address[30]" SITE "X";
LOCATE COMP "udp_source_ip_address[31]" SITE "X";
LOCATE COMP "udp_source_length[0]" SITE "X";
LOCATE COMP "udp_source_length[1]" SITE "X";
LOCATE COMP "udp_source_length[2]" SITE "X";
LOCATE COMP "udp_source_length[3]" SITE "X";
LOCATE COMP "udp_source_length[4]" SITE "X";
LOCATE COMP "udp_source_length[5]" SITE "X";
LOCATE COMP "udp_source_length[6]" SITE "X";
LOCATE COMP "udp_source_length[7]" SITE "X";
LOCATE COMP "udp_source_length[8]" SITE "X";
LOCATE COMP "udp_source_length[9]" SITE "X";
LOCATE COMP "udp_source_length[10]" SITE "X";
LOCATE COMP "udp_source_length[11]" SITE "X";
LOCATE COMP "udp_source_length[12]" SITE "X";
LOCATE COMP "udp_source_length[13]" SITE "X";
LOCATE COMP "udp_source_length[14]" SITE "X";
LOCATE COMP "udp_source_length[15]" SITE "X";
LOCATE COMP "udp_source_data[0]" SITE "X";
LOCATE COMP "udp_source_data[1]" SITE "X";
LOCATE COMP "udp_source_data[2]" SITE "X";
LOCATE COMP "udp_source_data[3]" SITE "X";
LOCATE COMP "udp_source_data[4]" SITE "X";
LOCATE COMP "udp_source_data[5]" SITE "X";
LOCATE COMP "udp_source_data[6]" SITE "X";
LOCATE COMP "udp_source_data[7]" SITE "X";
LOCATE COMP "udp_source_data[8]" SITE "X";
LOCATE COMP "udp_source_data[9]" SITE "X";
LOCATE COMP "udp_source_data[10]" SITE "X";
LOCATE COMP "udp_source_data[11]" SITE "X";
LOCATE COMP "udp_source_data[12]" SITE "X";
LOCATE COMP "udp_source_data[13]" SITE "X";
LOCATE COMP "udp_source_data[14]" SITE "X";
LOCATE COMP "udp_source_data[15]" SITE "X";
LOCATE COMP "udp_source_data[16]" SITE "X";
LOCATE COMP "udp_source_data[17]" SITE "X";
LOCATE COMP "udp_source_data[18]" SITE "X";
LOCATE COMP "udp_source_data[19]" SITE "X";
LOCATE COMP "udp_source_data[20]" SITE "X";
LOCATE COMP "udp_source_data[21]" SITE "X";
LOCATE COMP "udp_source_data[22]" SITE "X";
LOCATE COMP "udp_source_data[23]" SITE "X";
LOCATE COMP "udp_source_data[24]" SITE "X";
LOCATE COMP "udp_source_data[25]" SITE "X";
LOCATE COMP "udp_source_data[26]" SITE "X";
LOCATE COMP "udp_source_data[27]" SITE "X";
LOCATE COMP "udp_source_data[28]" SITE "X";
LOCATE COMP "udp_source_data[29]" SITE "X";
LOCATE COMP "udp_source_data[30]" SITE "X";
LOCATE COMP "udp_source_data[31]" SITE "X";
LOCATE COMP "udp_source_error[0]" SITE "X";
LOCATE COMP "udp_source_error[1]" SITE "X";
LOCATE COMP "udp_source_error[2]" SITE "X";
LOCATE COMP "udp_source_error[3]" SITE "X";